In [1]:
import pandas as pd

In [4]:
bike_data = pd.read_csv('data/bike_usage_0.csv', encoding='ANSI')

In [5]:
type(bike_data)

pandas.core.frame.DataFrame

끝에 괄호가 붙지 않는 것 : 속성(Attribute)
데이터 타입에 내장되어 있는 함수 (끝에 괄호가 붙는 것) : 메소드(method)

In [6]:
bike_data.columns

Index(['Date_out', 'Time_out', 'Station_no_out', 'Station_out',
       'Membership_type', 'Gender', 'Age_Group', 'Momentum', 'Station_no_in',
       'Station_in', 'Date_in', 'Bike_no', 'Carbon_amount', 'Distance',
       'Duration'],
      dtype='object')

In [8]:
bike_data.head(10)

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,NaN,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,NaN,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,NaN,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,NaN,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,NaN,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
5,2019-10-03,0,914,914. 새절역 2번출구,정기권,NaN,20대,15.68,912,응암오거리,2019-10-03 오전 12:16:20,SPB-04117,0.15,660,5
6,2019-10-03,0,926,926. 불광역 8번출구,정기권,NaN,20대,30.37,946,독바위역,2019-10-03 오전 1:06:17,SPB-12724,0.27,1180,7
7,2019-10-03,0,212,212. 여의도역 1번출구 옆,정기권,NaN,20대,29.89,216,삼부아파트1동 앞,2019-10-03 오전 12:36:38,SPB-20323,0.26,1110,6
8,2019-10-03,0,421,421. 마포구청 앞,정기권,NaN,20대,46.76,152,마포구민체육센터 앞,2019-10-03 오전 12:42:31,SPB-05679,0.38,1640,11
9,2019-10-03,0,108,108. 서교동 사거리,정기권,NaN,30대,44.52,151,망원1동주민센터,2019-10-03 오전 12:39:41,SPB-18038,0.34,1460,7

In [9]:
bike_data.tail()

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
36590,2019-10-05,23,130,130. 신촌역(2호선) 7번출구 앞,일일권,M,30대,110.06,432,마포중앙도서관,2019-10-06 오전 12:06:20,SPB-14263,0.9,3860,23
36591,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,M,30대,153.15,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:27:55,SPB-17557,1.38,5950,32
36592,2019-10-05,23,654,654. 전농동 텃골공원,일일권,M,40대,65.12,654,전농동 텃골공원,2019-10-06 오전 12:09:12,SPB-18226,0.59,2530,17
36593,2019-10-05,23,119,119. 서강나루 공원,일일권,M,40대,78.76,3102,연희삼거리,2019-10-05 오후 11:44:39,SPB-21624,0.71,3060,17
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,NaN,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [10]:
bike_data.shape

(36595, 15)

In [11]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36595 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36595 non-null  object
 1   Time_out         36595 non-null  int64
 2   Station_no_out   36595 non-null  int64
 3   Station_out      36595 non-null  object
 4   Membership_type  36595 non-null  object
 5   Gender           18262 non-null  object
 6   Age_Group        36595 non-null  object
 7   Momentum         36595 non-null  object
 8   Station_no_in    36595 non-null  int64
 9   Station_in       36595 non-null  object
 10  Date_in          36595 non-null  object
 11  Bike_no          36595 non-null  object
 12  Carbon_amount    36595 non-null  object
 13  Distance         36595 non-null  int64
 14  Duration         36595 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.2+ MB

In [12]:
bike_data.sum()

C:\Users\a0106\AppData\Local\Temp\ipykernel_18816\2878048.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  bike_data.sum()

Date_out           2019-10-032019-10-032019-10-032019-10-032019-1...
Time_out                                                      523993
Station_no_out                                              27733794
Station_out        129. 신촌역(2호선) 6번출구 옆150. 서강대역 2번출구 앞240. 문래역 4...
Membership_type    정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정기권정...
Age_Group          ~10대20대20대20대20대20대20대20대20대30대30대30대30대30대30대...
Momentum           28.27146.4637.13134.6285.8315.6830.3729.8946.7...
Station_no_in                                               32412858
Station_in         신성기사식당 앞서울시여성가족재단삼성생명 당산사옥 앞길음8골어린이공원 옆청계8가사거리...
Date_in            2019-10-03 오전 12:20:422019-10-03 오전 1:16:32201...
Bike_no            SPB-15000SPB-13087SPB-23229SPB-14181SPB-15221S...
Carbon_amount      0.241.320.291.210.670.150.270.260.380.340.190....
Distance                                                   154185430
Duration                                                     1135191
dtype: object

In [13]:
bike_data.Distance

0        1050
1        5690
2        1250
3        5230
4        2890
         ...
36590    3860
36591    5950
36592    2530
36593    3060
36594     620
Name: Distance, Length: 36595, dtype: int64

In [14]:
bike_data.Distance.sum()

154185430

In [15]:
bike_data['Distance']

0        1050
1        5690
2        1250
3        5230
4        2890
         ...
36590    3860
36591    5950
36592    2530
36593    3060
36594     620
Name: Distance, Length: 36595, dtype: int64

In [16]:
bike_data['Distance'].sum()

154185430

In [17]:
bike_data['Membership_type'].unique()

array(['정기권', '일일권', '단체권', '일일권(비회원)'], dtype=object)

In [18]:
bike_data['Membership_type'].value_counts()

정기권         27501
일일권          8957
단체권           135
일일권(비회원)        2
Name: Membership_type, dtype: int64

In [19]:
bike_data['Membership_type'].value_counts(normalize=True)

정기권         0.751496
일일권         0.244760
단체권         0.003689
일일권(비회원)    0.000055
Name: Membership_type, dtype: float64

In [20]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36595 entries, 0 to 36594
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_out         36595 non-null  object
 1   Time_out         36595 non-null  int64
 2   Station_no_out   36595 non-null  int64
 3   Station_out      36595 non-null  object
 4   Membership_type  36595 non-null  object
 5   Gender           18262 non-null  object
 6   Age_Group        36595 non-null  object
 7   Momentum         36595 non-null  object
 8   Station_no_in    36595 non-null  int64
 9   Station_in       36595 non-null  object
 10  Date_in          36595 non-null  object
 11  Bike_no          36595 non-null  object
 12  Carbon_amount    36595 non-null  object
 13  Distance         36595 non-null  int64
 14  Duration         36595 non-null  int64
dtypes: int64(5), object(10)
memory usage: 4.2+ MB

In [22]:
bike_data.Momentum.isnull().sum()

0

In [23]:
bike_data.Momentum.min()

'0'

In [24]:
bike_data.Momentum.max()

'\\N'

In [25]:
bike_data[bike_data.Momentum == '\\N']

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
3347,2019-10-03,14,113,113. 홍대입구역 2번출구 앞,정기권,F,30대,\N,113,홍대입구역 2번출구 앞,2019-10-03 오후 7:56:30,SPB-19656,\N,0,2
14547,2019-10-04,10,203,203. 국회의사당역 3번출구 옆,정기권,F,70대~,\N,214,금융감독원 앞,2019-10-04 오전 8:41:49,SPB-14566,\N,0,5
15697,2019-10-04,12,211,211. 여의도역 4번출구 옆,정기권,M,20대,\N,217,NH농협은행 앞,2019-10-04 오전 10:00:22,SPB-05742,\N,0,5
20683,2019-10-04,19,238,238. 제2구민체육센타 앞,정기권,NaN,20대,\N,238,제2구민체육센타 앞,2019-10-04 오후 8:34:07,SPB-18370,\N,0,3
25700,2019-10-05,3,2259,2259. 잠원역 3번-4번 출구사이,정기권,NaN,40대,\N,2217,아크로리버뷰 부지 앞,2019-10-05 오후 9:23:46,SPB-03337,\N,0,7
27995,2019-10-05,11,274,274. 영등포역지하쇼핑센타 5번출구,정기권,NaN,40대,\N,279,영등포 푸르지오 아파트,2019-10-05 오후 10:03:10,SPB-15669,\N,0,10
30112,2019-10-05,14,437,437. 대흥역 1번출구,정기권,M,30대,\N,135,명물길 원형무대 앞,2019-10-05 오후 10:55:50,SPB-17475,\N,0,10
32978,2019-10-05,18,274,274. 영등포역지하쇼핑센타 5번출구,정기권,F,20대,\N,274,영등포역지하쇼핑센타 5번출구,2019-10-05 오후 3:46:34,SPB-16977,\N,0,7
34459,2019-10-05,20,146,146. 마포역 2번출구 뒤,정기권,F,20대,\N,109,제일빌딩 앞,2019-10-05 오후 8:21:07,SPB-18232,\N,0,19